absl-py==0.13.0
dill==0.3.4
dm-haiku==0.0.4
einops==0.3.0
flatbuffers~=1.12.0
imageio==2.9.0
immutabledict==2.0.0
jaxline==0.0.3
numpy~=1.19.2
opencv-python==4.5.2.54
opt-einsum==3.3.0
optax==0.0.9
Pillow==10.2.0
scipy==1.7.0
six~=1.15.0
tabulate==0.8.9
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-datasets==4.3.0
tensorflow-probability==0.13.0
