absl-py==0.7.1
astor==0.7.1
contextlib2==0.5.5
dm-sonnet==1.32
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mock==3.0.5
numpy==1.16.3
protobuf==3.7.1
semantic-version==2.6.0
six==1.12.0
tensorboard==1.13.1
tensorflow==2.5.0
tensorflow-estimator==1.13.0
tensorflow-probability==0.6.0
termcolor==1.1.0
Werkzeug==0.15.4
wrapt==1.11.1
