# GlassyDynamics
absl-py==0.8.1
astor==0.8.0
cloudpickle==1.1.1
contextlib2==0.6.0.post1
decorator==4.4.0
dm-sonnet==1.35
future==0.18.0
gast==0.2.2
google-pasta==0.1.7
graph-nets==1.0.4
grpcio==1.24.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
networkx==2.3
numpy==1.17.2
protobuf==3.10.0
semantic-version==2.8.2
six==1.12.0
tensorboard==1.15.0
tensorflow==1.15.4
tensorflow-estimator==1.15.1
tensorflow-probability==0.7.0
termcolor==1.1.0
Werkzeug==0.16.0
wrapt==1.11.2
